
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}/*

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
*/
