@import '../common/variables';
@import '../../../../node_modules/highlight.js/styles/default.css';
@import '../../../../node_modules/highlight.js/styles/androidstudio.css';

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-track {
  background: #eee;
}

body.basic {
  padding: 0;
  margin: 0;
  background: $bgcolor;
  color: $color;

  #app {
    height: 100vh;
    padding: 0 55px;
    .top-wrapper {
      height: 125px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logo-wrapper {
        font-size: 70px;
        font-family: $js-header-font;
        height: 70px;
        line-height: 63px;
        overflow: hidden;
        color: #444;
        border-radius: 5px;
        .text {
          padding: 0 5px;
        }
        .pre-text {
          background-color: #aaa;
          font-weight: bold;
          text-shadow: 1px 1px 1px #ccc;
        }
        .post-text {
          color: #aaa;
          text-shadow: 1px 1px 1px $header-color;
        }
        .text-2 {
          color: $header-color;
          display: inline-block;
          transform: rotate(-18deg) translate(-6px, -10px);
        }
        .text-u {
          color: lawngreen;
          display: inline-block;
          transform: translate(-15px, 0);
          background: transparent;
          opacity: 0.8;
        }
      }
    }

    .controller {
      .container {
        /*position: relative;*/
        height: calc(100% - 50px);
      }
    }

    .paragraph {
      color: inherit;
      padding: 5px;
    }
    .h1 {
      font-family: $js-header-font;
      font-size: 20px;
      padding: 5px;
      font-weight: bold;
      color: $header-color;
    }
    .h2 {
      font-family: $js-header-font;
      font-size: 18px;
      padding: 5px;
      color: $header-color;
    }
    .p1 {
      font-family: $js-data-font;
      font-size: 14px;
      padding: 0 5px;
      color: $data-color;
      letter-spacing: 0.02em;
    }
    .data-image {
      color: inherit;
    }

    b {
      color: #e8bf6a;
    }

    i {
      color: #6A8759;
      font-family: $js-header-font;
      font-style: normal;
    }

    .note {
      margin-bottom: 10px;
      width: 100%;
      font-family: $js-header-font;
      display: flex;
      align-items: center;
      font-size: 16px;
      b {
        font-weight: 100;
        margin-right: 5px;
      }
      .info {
        color: #6A8759;
      }
    }

    code {
      .block {
        width: 50%;
        float: left;
      }
    }

  }
}
