@import '../common/variables';
* {
  box-sizing: border-box;
}

body.basic {
  padding: 0;
  margin: 0;
  background: $bgcolor;
  color: $color;

  #app {
    height: 100vh;
    padding: 0 55px;
    .top-wrapper {
      height: 125px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logo-wrapper {
        font-size: 70px;
        font-family: $js-font;
        height: 70px;
        line-height: 63px;
        overflow: hidden;
        color: #444;
        border-radius: 5px;
        .text {
          padding: 0 5px;
        }
        .pre-text {
          background-color: #aaa;
          font-weight: bold;
          text-shadow: 1px 1px 1px #ccc;
        }
        .post-text {
          color: #aaa;
          text-shadow: 1px 1px 1px orange;
        }
        .text-2 {
          color: orange;
          display: inline-block;
          transform: rotate(-18deg) translate(-6px, -10px);
        }
        .text-u {
          color: lawngreen;
          display: inline-block;
          transform: translate(-15px, 0);
          background: transparent;
          opacity: 0.8;
        }
      }
    }

    .controller {
      .container {
        position: relative;
        height: calc(100% - 50px);
      }
    }
  }
}
